/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    background-color: #FFC30F;
    font-size: 40px;
    color: white;
    grid-area: header;
    

}

.menu{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    background-color: #cc5985;
    font-size: 40px;
    color: white;
    grid-area: menu;
}

.hero{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    background-color: #bd1947;
    font-size: 40px;
    color: white;
    grid-area: hero;
}

.main{
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    background-color: #FF5733;
    font-size: 40px;
    color: white;
    grid-area: main;

}

.image{
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    background-color: #FFC30F;
    font-size: 40px;
    color: white;
    grid-area: image;
}

.extra{
        -ms-grid-row: 4;
        -ms-grid-column: 5;
        background-color: rgb(89, 89, 213);
        font-size: 40px;
        color: white;
        grid-area: extra;
}

.banner{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    background-color: #0f4c5c;
    font-size: 40px;
    color: white;
    grid-area: banner;
}

.greed_conteiner{
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-rows: 1fr 7fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 7fr 2fr 2fr 2fr;
        grid-template-areas: 
    "header menu menu menu menu "
    "hero hero hero hero hero"
    "main main main none image"
    "main main main none extra"
    "banner banner banner banner banner"
    ;
}


@media screen and (max-width: 768px){
    
    .greed_conteiner{
        -ms-grid-rows: 1fr 3fr 3fr 2fr 2fr;
        grid-template-rows: 1fr 3fr 3fr 2fr 2fr;
            grid-template-areas: 
        "header header header header header"
        "hero hero hero hero hero"
        "menu main main main main"
        "menu banner banner banner banner"
        "menu extra extra extra image";
    }
    
    header{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }
    
    .menu{
        -ms-grid-row: 3;
        -ms-grid-row-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    
    .hero{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }
    
    .main{
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 4;
    }
    
    .image{
        -ms-grid-row: 5;
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
    }
    
    .extra{
        -ms-grid-row: 5;
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
    }
    
    .banner{
        -ms-grid-row: 4;
        -ms-grid-column: 2;
        -ms-grid-column-span: 4;
    }
}


@media screen and (max-width:480px){
    .greed_conteiner{
        -ms-grid-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr;
            grid-template-areas: 
        "header header header header header header header"
        "menu menu menu menu menu menu menu"
        "hero hero hero hero hero hero hero"
        "main main main main main main main"
        "banner banner banner banner banner banner banner"
        "extra extra extra extra extra extra extra"
        "image image image image image image image";

    }
    header{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;

    }
    .menu{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;

    }
    .hero{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;

    }
    .main{
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;

    }
    .image{
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;

    }
    .extra{
        -ms-grid-row: 6;
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;

    }
    .banner{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;

    }
}

